#app{
    background-color: lightblue;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.locationItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}
.locationItem-header{
    margin-left: 10px;
    margin-right:10px;
}
.locationItem-button{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 24px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: auto;
    width: 28px;
    text-align: center;
    background-color: white;
}
.locationDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}