#app{
    background-color: lightblue;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

